.calculator__keys, .calculator-header, .calculator__display-screen {
  font-family: "Red Hat Mono", monospace;
}

.calculator__keys {
  height: 50px;
  align-self: flex-end;
  border: 1px solid black;
  border-radius: 20px;
  background-color: #4E148C;
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 5px;
  box-shadow: 0px 1px #1E0836, 1px 2px #1E0836, 2px 3px #1E0836;
  cursor: pointer;
}

.calculator__keys:hover {
  background-color: #873dd6;
}

#multiply, #divide, #add, #subtract, #equals {
  background-color: #97DFFC;
  color: black;
  box-shadow: 0px 1px #022B3C, 1px 2px #022B3C, 2px 3px #022B3C;
}

#multiply:hover, #divide:hover, #add:hover, #subtract:hover, #equals:hover {
  background-color: #5dd1ff;
}

#positive-or-negative, #percentage, #clear {
  background-color: #8615A2;
}

#positive-or-negative:hover, #percentage:hover, #clear:hover {
  background-color: #A41AC7;
}

.calculator__keys:active, #clear:active, #multiply:active, #divide:active, #add:active, #subtract:active, #equals:active, #positive-or-negative:active, #percentage:active {
  box-shadow: 1px 1px black;
  transform: translate(1px, 2px);
}

body {
  background-color: #DEDFF7;
}

.calculator-header {
  padding: 10px;
  text-align: center;
  padding-top: 100px;
  font-weight: bold;
}

.calculator-container {
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  border: 2px solid #696cac;
  border-radius: 20px;
  box-shadow: 0px 1px #8B8FE5, 1px 2px #8B8FE5, 2px 3px #8B8FE5, 3px 4px #8B8FE5, 4px 5px #8B8FE5, 5px 6px #8B8FE5, 6px 7px #8B8FE5, 7px 8px #8B8FE5, 8px 9px #8B8FE5, 10px 11px #696cac;
  background-color: #858AE3;
  padding: 20px;
  gap: 20px;
  height: 500px;
  margin: 10px 20px;
  justify-content: flex-end;
  width: 100vw;
  perspective: 50em;
  transform: rotateY(5deg);
}
@media (min-width: 420px) {
  .calculator {
    max-width: 380px;
    max-height: 70vh;
  }
}

.calculator__display-screen {
  border: 1px solid #696cac;
  border-radius: 20px;
  background-color: #BCBFF0;
  box-shadow: 0px -1px 1px #696cac inset, -1px -2px 2px #696cac inset, 0px 1px 1px #696cac inset, 1px 2px 2px #696cac inset;
  grid-column: 1/5;
  margin-bottom: 10px;
  padding: 0px 5px 2px;
  height: 100px;
  font-weight: bold;
  text-align: right;
  text-shadow: 0px 0px 1px #4E148C, 0px 0px 1px #4E148C, 0px 0px 1px #4E148C;
  vertical-align: bottom;
  line-height: 150px;
  font-size: 30px;
}

.calculator__display-screen.light-display {
  background-color: blueviolet;
  color: #DEDFF7;
  text-shadow: 0px 0px 1px black, 0px 0px 1px black, 0px 0px 1px black;
}

#equals {
  grid-column: 3/5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}